ELASTICSEARCH_USERNAME=kibana
ELASTICSEARCH_PASSWORD=XXXXXXX
ELASTIC_PASSWORD=${ELASTICSEARCH_PASSWORD}
cluster.name=es-cluster
bootstrap.memory_lock=true
ES_JAVA_OPTS=-Xms1g -Xmx1G
discovery.type=single-node

RABBITMQ_DEFAULT_PASS=XXXXXXX
RABBITMQ_DEFAULT_USER=XXXXXXX

MINIO_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXX
MINIO_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

